<% provide(:title, "Top") %>
<div class="center jumbotron">
  <%= image_tag('fitness_club.png', alt: 'Fitness Club', class: 'img-responsive') %>
  <h1>トレーニング管理アプリ</h1>
  <p>このアプリは登録されたユーザーのトレーニングログを閲覧・登録・編集することができます。</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
