<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>♠Strength Log App♠</h1>
  <p>◆トレーニング記録を管理するアプリケーション◆</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
