<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>トレーニング管理アプリ</h1>
  <p>このアプリは登録されたユーザーのトレーニングログを閲覧・登録・編集することができます。</p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>