.part-title {
  background: url('fitness_club8.jpg');
  padding: 10px 15px;        /* パディング */
  margin: 10px 0;            /* 上下マージン */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
  cursor: pointer;           /* カーソルをポインターに変更 */
  border: 1px solid #ddd;    /* 境界線 */
  text-align: left;
  margin-bottom: 5px;
  color: white;
  font-size: 25px;
  font-weight: 600;          /* より太めのフォントに設定 */
  width: 30%;               /* 横幅を100%に設定 */
  position: relative; /* 疑似要素の基準点を設定 */
}

.part-title:hover {
  color: #808080; /* ホバー状態での文字色を濃いグレーに設定 */
  text-decoration: underline; /* 下線を引く */
  cursor: pointer;   /* カーソルをポインター形状に変更 */
}

.styled-table {
  background: #555555; /* より暗いグレー */
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px 40px; // 上下左右のマージンを設定
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background: url('fitness_club7.jpg');
    color: #ffffff;
    text-align: left;
  }

  th, 
  td {
    padding: 12px 15px;
    text-align: center; // セルを中央揃えに変更
    border-right: 5px solid #ddd; // 右側に境界線を追加
    
    &.set-column {
      @extend .set-column;
    }

    &.weight-column {
      @extend .weight-column;
    }

    &.reps-column {
      @extend .reps-column;
    }

    &.one-rm-column {
      @extend .one-rm-column;
    }
  }

  th:first-child {
    text-align: center;
    font-size: 17px;
  }

  td:first-child {
    width: 400px;
    text-align: left;
    font-size: 14px;
  }

  th:last-child,
  td:last-child {
    width: 100px; // 操作セルの幅を100pxに設定
    min-width: 100px; // 最小幅も設定
    font-size: 17px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
    
    &:last-of-type {
      border-bottom: 2px solid #009879;
      td:first-child {
        border-bottom-left-radius: 15px; // 左下の角を丸くする
      }
      td:last-child {
        border-bottom-right-radius: 15px; // 右下の角を丸くする
      }
    }
    
    &.active-row {
      font-weight: bold;
      color: #009879;
    }
  }
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
}

.btn-edit {
  color: #fff;
  background-color: #007bff; // 例えば青色
  border-color: #007bff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.btn-add {
  background-color: #28a745; // 緑色の背景
  color: white;              // 白色の文字
  padding: 5px 10px;         // パディング
  text-decoration: none;     // テキストの下線を削除
  border-radius: 5px;        // 角丸のデザイン
  transition: all 0.2s;      // トランジション効果

  &:hover {
    background-color: #218838; // ホバー時に少し濃い緑色
  }
}

.background-newimage-container {
  transform: translateX(-30px) translateY(-60px);
  color: #fff; // テキストの色を白に設定
  position: relative;
  background: url('fitness_club14.jpg') no-repeat center center; // 画像を中央に配置
  background-size: cover; // 画像をコンテナにフィットさせる
  text-align: center; // テキストを中央に配置
  height: 930px; // 高さ設定
  width: 105.3%; // 幅設定
  border: 5px solid black; /* 縁をつける */
}

.new-form-container {
  background: url('fitness_club13.jpg') no-repeat center center;
  transform: translateX(-250px) translateY(220px);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 60px auto 0; // 上に60pxの隙間を設ける
  color: #FFFFFF; // 字体を白に変える
  border: 3px solid silver; /* 縁をつける */
  height: 330px; // 高さ設定
  width: 105%; // 幅設定
}

.new-form-title {
  display: flex; // Flexboxを有効にする
  align-items: center; // 垂直方向の中央揃え
  justify-content: center; // 水平方向の中央揃え
  transform: translateX(90px) translateY(-30px);
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-bottom: 30px;
  text-shadow: none; // シャドウを削除
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  height: 50px; // 高さ設定
  width: 60%; // 幅設定
  border: 1px solid white; /* 縁をつける */
}

.new-form-group {
  color: white;
  margin-bottom: 15px;
  text-align: left; /* テキストを左揃えにする */
  transform: translateX(20px) translateY(-30px);
}

.new-form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px; 
  background-color: black;
  width: 13%; // 幅設定
  border-radius: 5px;
  display: flex; // Flexboxを有効にする
  align-items: center; // 垂直方向の中央揃え
  justify-content: center; // 水平方向の中央揃え
  border: 1px solid silver; /* 縁をつける */
}

.new-form-control {
  color: black;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%; // 幅設定
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

// トレーニングログページのスタイル
.training-log-page {
  .card {
    border-radius: 15px; // 丸みの半径を設定
    max-width: 1000px; // カードの最大幅を設定
    margin: 0 auto; // 中央揃え
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // カードに影を追加

    .card-header {
      border-top-left-radius: 15px;  // 左上の角を丸くする
      border-top-right-radius: 15px; // 右上の角を丸くする
      display: flex; // Flexboxを有効にする
      align-items: center; // 垂直方向の中央揃え
      justify-content: center; // 水平方向の中央揃え
      font-weight: bold;
      text-align: center;
      background-color: #000080; // 背景色を紺色に設定
      color: #333; // テキストの色を黒に変更
      padding: 20px 0; // 上下にパディングを設定
      font-size: 30px; // フォントサイズを大きく設定
      margin-top: 30px; // 上部のマージンを設定
      text-shadow: none; // テキストの影を削除
    
      h2 {
        max-width: 70%;       // タイトルの最大幅を設定
        margin: 0 auto;   // 左右のマージンを自動に設定して中央寄せ
        font-weight: 900;     // タイトルのフォントをより太く設定
        color: #fff;
      }
    }
    
    .card-body {
      padding: 60px; // 内部のパディングを増やす
      .form-group {
        display: flex;
        align-items: center; // 要素を垂直方向に中央揃えにする
        border-bottom: 1px solid #ddd; // 入力フィールドの下にボーダーを追加
        margin-bottom: 20px; // 各フォームグループの下のマージンを増やす
        .col-form-label {
          font-size: 18px; // ラベルのフォントサイズを調整
          font-weight: bold; // ラベルのフォントを太く
        }
        .form-control {
          height: 40px; // 入力フィールドの高さを調整
          font-size: 16px; // 入力フィールドのフォントサイズを調整
          border-radius: 0.25rem; // 入力フィールドの角を丸く
        }
        .btn {
          font-size: 16px; // ボタンのフォントサイズを調整
          padding: 5px 10px; // ボタンのパディングを調整
        }
      }
      .btn-outline-danger {
        border-color: #dc3545; // 削除ボタンのボーダー色
        &:hover {
          background-color: #dc3545;
          color: #fff;
        }
      }
    }
    .btn-outline-success {
      padding: 10px 20px; // 追加ボタンのパディングを調整
      font-size: 18px; // 追加ボタンのフォントサイズを調整
      &:hover {
        background-color: #28a745;
        color: #fff;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
  margin: 10% auto;
  max-width: 600px; /* モーダルの最大幅を400pxに設定 */
}

.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* ここに横幅を設定しても良いが、.modal-dialogでmax-widthを設定しているので不要かもしれない */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin: -20px -20px 10px;
}

.modal-title {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.close {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

.modal-body {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 10px;
  text-align: right;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.message-box {
  width: 60%; /* 幅を60%に設定 */
  height: 100px; /* 高さを150pxに設定 */
  margin: 20px auto; /* 上下のマージンと左右の中央揃え */
  padding: 20px; /* 内側の余白 */
  border: 3px dashed #ff9900; /* 点線の枠 */
  background-color: #ffffe0; /* 薄い背景色 */
  border-radius: 10px; /* 角丸 */
  display: flex; /* Flexboxを使用 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
}

.no-exercise-message {
  font-size: 24px; /* 文字の大きさを24pxに設定 */
  font-weight: bold; /* 文字を太く */
  color: #ff6600; /* 文字色 */
}

.message-box-link {
  text-decoration: none; /* リンクの下線を削除 */
  color: inherit; /* 親要素のテキスト色を継承 */
}

.date-display {
  border: 5px solid #000000; /* 枠の色を黒に変更 */
  padding: 10px; /* 内側の余白 */
  margin-bottom: 20px; /* 下の余白 */
  background: url('fitness_club1.jpg');
  width: 99.9%; // 幅設定
}

.date-title {
  font-size: 30px; /* 文字サイズを大きくする */
  font-weight: bold; /* 文字を太くする */
  color: #ffffff; /* 文字色を白に変更 */
}

// 一般的な一覧表（general-table）のスタイル
.general-table {
  .exercise-name-column {
    width: 70%; // 種目列の幅を70%に設定
    // 他の必要なスタイル
  }

  .exercise-actions-column {
    width: 30%; // 操作列の幅を30%に設定
    // 他の必要なスタイル
  }
}

// 特定の日付に保存されるテーブル（date-specific-table）のスタイル
.date-specific-table {
  .exercise-name-column {
    width: 40%; // 種目列の幅を60%に設定
  }

  .set-column, .weight-column, .reps-column, .one-rm-column {
    width: 10%; // 各列の幅を5%に設定
    text-align: center; // 中央揃え
  }

  .exercise-actions-column {
    width: 20%; // 操作列の幅を20%に設定
    // 他の必要なスタイル
  }
}

.white-link {
    font-size: 15px;
    color: white; /* リンクの色を白に設定 */
    &:hover {
        color: #CCCCCC; /* ホバー時の色を薄いグレーに設定（任意） */
    }
}

.exercise-name-column a:hover {
  color: #ccc !important; /* ホバー時のテキスト色を明るいグレーに設定 */
}


.exercise-dropdown {
  transform: translateX(20px)
}

.chart-navigation {
  transform: translateX(20px)
}

.exercise-index-background {
  background-color: white;
  color: #fff; // テキストの色を白に設定
  position: relative;
  background-size: cover; // 画像をコンテナにフィットさせる
  text-align: center; // テキストを中央に配置
  height: 880px; // 高さ設定
  width: 105.3%; // 幅設定
  transform: translateX(-29.5px) translateY(-10px);
}

.form-control-exercisefield {
  height: 40px;
  width: 70%;
  border: 1px solid silver; /* 縁をつける */
}

.label-class-name {
  font-size: 18px;
  color: #333; /* テキストの色を暗いグレーに設定 */
}

.new-submit-class {
  transform: translateX(160px) ;
  background-color: #4CAF50; /* 通常時の背景色 */
  border-color: #4CAF50; /* 通常時のボーダー色 */
  transition: background-color 0.3s, border-color 0.3s; /* 色変更時のアニメーションを滑らかに */
}

.new-submit-class:hover {
  background-color: #3e8e41; /* ホバー時の背景色を暗く */
  border-color: #3e8e41; /* ホバー時のボーダー色も暗く */
}

.open-modal-link{
  transform: translateX(-180px) translateY(-50px);
  background-color: #02075D;
}

.table-top-adjust {
  transform: translateY(-50px);
}

.instructions-box {
  transform: translateY(10px);
  border: 2px solid #007bff; /* 枠線 */
  padding: 15px; /* 内側の余白 */
  margin-bottom: 20px; /* 下部の余白 */
  background-color: #f0f8ff; /* 薄い青の背景色 */
  border-radius: 5px; /* 角丸 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 軽い影 */
}

.instructions-box p {
  margin: 0; /* <p>タグのマージンを取り除く */
  color: #333; /* 文字色 */
  font-size: 16px; /* 文字サイズ */
}

.custom-exercise-dropdown {
  transform: translateX(-1px) translateY(5px);
    background-color: black; /* カーソルバーの背景色を黒に設定 */
    color: white; /* 文字色を白に設定 */
    width: 700px !important;
    height: 50px !important;
    padding: 5px; /* 内側の余白を追加 */
    border: 1px solid #ccc; /* 枠線を追加（オプション） */
}

.custom-exercise-dropdown option {
    background-color: white; /* 選択肢の背景色を白に設定 */
    color: black; /* 選択肢の文字色を黒に設定 */
}

