.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); // 7列のグリッド
  grid-gap: 5px;
  background: #e74c3c;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 0;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('show.jpg') no-repeat center center;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
  }

  // 曜日ヘッダーのスタイル
  .day-header {
    text-align: center;
    color: black; // テキストの色を黒に変更
    background-color: #f0ad4e; // 明るいオレンジ色に変更
    padding: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; // フォントを太く
  }
  
  .calendar-date-link {
    display: block;
    text-decoration: none;
    color: black; // テキストの色を黒に設定
    &:hover .day {
      background-color: #ffc0cb; // ホバー時の背景色を薄いピンクに設定
    }
  }
  
  .day {
    font-size: 20px;
    padding: 20px;
    background: white;
    color: black; // フォントの色を黒に変更
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; // カーソルをポインターに変更
  }
  
  .day:hover {
    background-color: #ffc0cb; // 薄いピンク色の背景色に変更
  }
  
  .today {
    background: #2ecc71; // エメラルドグリーンの背景色
  }
  
  .not-current-month {
    filter: grayscale(100%); // グレースケールにする
    opacity: 0.5; // 透明度を下げて目立たなくする（オプション）
  }
}

.add-training {
  display: flex;
  justify-content: center; // 水平方向の中央揃え
  align-items: center; // 垂直方向の中央揃え（必要に応じて）
  margin-top: 20px; // カレンダーからの余白
}

.add-training button {
  background-image: linear-gradient(to right, #ffb347, #ffcc33, #ffb347, #ffcc33, #ffb347);
  color: white;
  border: 1px solid #ffd700; // 薄いゴールド色のボーダー
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1); // 外側の影
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); // テキストの影

  &:hover {
    background-image: linear-gradient(to right, #ffd700, #ffcc00, #ffd700, #ffcc00, #ffd700);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f8f9fa; // 背景色
  border-radius: 8px;
  margin-bottom: 20px;
}

.nav-arrow {
  font-size: 22px;
  color: #007bff; // 矢印の色
  margin: 0 15px;
  text-decoration: none; // アンダーラインを除去

  &:hover {
    color: #0056b3; // ホバー時の色
  }
}

.month-year {
  font-size: 22px;
  font-weight: bold;
  color: #343a40; // 年月のテキスト色
}

.training-dot {
  color: red;
  margin-left: 5px;
}

.training-record-fields {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5等分の列を作成
  gap: 10px; // 列間のギャップ
}

.training-record-fields input {
  border: 1px solid #000; // 黒いボーダーを指定
  text-align: center;
}

.training-record-fields button {
  grid-column: span 1; // ボタンが列を1つ占めるように指定
}

// 最後の削除ボタンは、表示されていないので、以下のスタイルを追加
.remove-record {
  display: inline-block; // または 'block' に設定して、ボタンが表示されるようにします。
}

// 'セットを追加'ボタンのスタイル
#add-record {
  width: 40%;
  padding: 10px;
  margin-top: 20px; // 適切な間隔を設定
}

/* ラベル行全体のスタイリング */
.labels-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* 下マージンを適切に調整 */
}

/* 個々のラベルのスタイリング */
.label {
  flex: 1; /* 各ラベルが均等なスペースを取るように */
  text-align: center; /* テキストを中央揃えに */
  font-weight: bold; /* テキストを太字に */
}

.col-1 {
  width: 100px; // または必要な幅に設定
}

.table.table-bordered td,
.table.table-bordered th {
  text-align: center;
  vertical-align: middle;
}

/* 重量と回数の入力フィールドのスタイル */
.input-centered {
  text-align: center;
}

.unit-text {
  margin-left: 5px; /* テキストの左側に少しスペースを追加 */
  display: inline-block; /* インラインブロック要素として表示 */
}
