<div class="training-record-fields row mb-3">
  <div class="col-1">
    <label for="set" class="label-set-number">セット数</label>
    <input type="number" name="set[]" id="set" class="form-control" value="1" readonly>
  </div>
  <div class="col-3">
    <label for="weight" class="label-weight">重量(kg)</label>
    <input type="number" name="weight[]" id="weight" class="form-control" placeholder="kg">
  </div>
  <div class="col-2">
    <label for="reps" class="label-reps">回数</label>
    <input type="number" name="reps[]" id="reps" class="form-control" placeholder="回数">
  </div>
  <div class="col-2">
    <label for="one_rm" class="label-one-rm">1RM(kg)</label>
    <input type="number" name="one_rm[]" id="one_rm" class="form-control" placeholder="kg">
  </div>
  <div class="col-2">
    <button type="button" class="remove-record btn btn-danger">削除</button>
  </div>
</div>
