<% @exercises.group_by(&:part).each do |part, exercises| %>
  <h2 class="part-title"><%= part %></h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>種目</th>
        <th>削除/編集</th>
      </tr>
    </thead>
    <tbody>
      <% exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.exercise %></td>
          <td>
            <%= link_to '削除', exercise_path(exercise), data: { turbo_method: :delete, confirm: '削除してよろしいですか？' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>