<% provide(:title, 'トレーニングログ') %>
<div class="container mt-5 training-log-page">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-12">
      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          <h2 class="mb-0">トレーニングログ</h2>
        </div>
        <div class="card-body">
          <% 4.times do |i| %>
            <div class="form-group row border-bottom py-2">
              <label class="col-sm-2 col-form-label font-weight-bold">セット <%= i + 1 %>:</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" placeholder="重量 kg">
              </div>
              <div class="col-sm-3">
                <input type="number" class="form-control" placeholder="回数 reps">
              </div>
              <div class="col-sm-2 text-center">
                <button class="btn btn-outline-danger"><i class="fas fa-times"></i></button>
              </div>
            </div>
          <% end %>
          <div class="text-center mt-4">
            <button class="btn btn-outline-success btn-lg"><i class="fas fa-plus"></i> 追加</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
